.form {
    max-width: 366px;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 24px;
    .suggestion {
		@include avenir-medium;
		font-size: 14px;
		color: $gray-80;
		align-self: center;

		.link {
			color: $red-80;
			text-decoration: underline;
		}
	}
}