$gray-100: #303030;
$gray-90: #393939;
$gray-85: #414141;
$gray-80: #707070;
$gray-60: #9c9c9c;
$gray-40: #d1d1d1;
$gray-20: #f6f6f6;
$red-100: #c60e2e;
$red-80: #e4163a;
$red-60: #ff5761;
$red-40: #ff768e;
$white: #ffffff;
